*,*::before, *::after, a{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #090A0B;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    height: inherit;
}
header{
    display: flex;
flex-direction: column;
    background: #AEC9DC;
    width: 100%;
}
.title{
   color: white;
   font-weight: 900;
   font-size: 15px;
   width: 100%;
    display: flex;
    padding: 10px;
   justify-content: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #090A0B;
    align-items: center;
}
.logo>img{
    width: 20px;
    padding: 4px;
}
.navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    width: 100%;
    gap: 10px;
    list-style: none;
}
.list-item>a{
    color: #AEC9DC;
    font-weight: bold;
}
.button-container{
    width: 25%;
    background: #AEC9DC;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.button-container>button{
    width: 80%;
    background: #063CC9;
    color: #AEC9DC;
    font-weight: 800;
    font-size: 11px;
    padding: 3px;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero{
    height: 84.5vh;
    background-image: url("../../assets/home/congregation.jpeg");
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    gap: 90px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.message {
    width: 80%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background: rgba(174, 201, 220, 0.5);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    animation: fadeIn 3s ease-in-out forwards;
}

.hidden {
    animation: fadeOut 1s ease-in-out forwards;
}
h1{
    text-align: center;
    font-size: 20px;
}
.message>button{
    background-color: #063CC9;
    color: #AEC9DC;
    height: 35px;
    width: 120px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}
.mission{
    width: 95%;
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(#FFFFFF, #AEC9DC) ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #292D32;
}
h2{
   font-size: 14px;
}
.mission>p{
    font-size: 14px;
    line-height: 20px;
}
.main_section{
    background: linear-gradient(#AEC9DC, #5D6C76);
        width: 100%
}
.main_container{
    background-image: url("../../assets/home/church2.jpeg");
}
.opaque{
    background-color: rgba(174, 201, 220, 0.5);
    width: 100%;
    padding-top: 20px;
}
.worship{
    padding-top: 10px;
    width: 70%;
    margin: auto;
    text-align: center;
}
h3{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
}
.timing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    width: 90%;
    gap: 10px;
    margin: auto;
}
.clock{
    width: 10%;
}
.time{
    color:#090A0B;
    font-size: 13px;
}
.more{
    color:#063CC9;
    padding-top: 10px;
    cursor: pointer;
    width: 130px;
    margin: auto;
}
.location, .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.location{
    margin-top: 35px;
    gap: 10px;
}

.map{
 width: 95%;
 height: 250px;
 cursor: pointer;
}
.community{
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h5{
    color: #fff;
    font-size: 16px;
    width: 80%;
    font-weight: 500;
}
.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.gallery>img{
    width: 50%;
    height: 87px;
}
.contact{
    color: #fff;
    gap: 5px;
}
.contact>p:first-child{
    font-weight: 900;
    padding-bottom: 10px;
}

.foreword{
    color: #fff;
    width: 95%;
    padding-bottom: 10px;
    margin: auto;
    font-size: 14px;
}

/* State of interactive elements */
a:hover, .more:hover{
    color: #AEC9DC;
    border-bottom: 2px solid #063CC9;
}
a:active{
    color: #063CC9;
    font-weight: 800;
    border-bottom: none;
}

button:hover{
    background:#AEC9DC;
    color: #063CC9;
    cursor: pointer;
    border: 1px solid #063CC9;
    
}
button{
    transition: all 3s ease-out;
}